.main {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 80vh;
    overflow: hidden;
    margin-top: 3.5rem;
    flex-direction: column;
    padding: 0 2%;
}
